*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #1d1716;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box0{
    display: flex;
}
.shape{
    height: 200px;
    width: 200px;
    border: 2px solid #e94822;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 13px;
    background-color: white;
    color: black;
}
